* {
    box-sizing: border-box;
  }
  
  /* Create three equal columns that floats next to each other */
  
  .row {
    margin: 40px;  }
  
  .column {
    float: left;
    width: 33.33%;
    padding: 30px;
    height: 300px; 
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .iframe-container{
    border-radius: 10px;
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    height: 0;
  }

  .iframe-container iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  article {
    padding: 20px 100px;
  }

  .accordion {
    color: #00a2ff;
    cursor: pointer;
    font-size: 15px;
    padding-bottom: 10px;
    font-family: montserrat;
    font-weight: nor;
  }

  .active,
  .accordion:hover {
    color: #659aa6;
  }

  .panel {
    display: none;
    overflow: hidden;
  }
  
  /* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
  @media (max-width: 600px) {
    .column {
      width: 100%;
    }
  }

  /* accordian text */

  /* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: #659aa6;
  color: #f2f2f2;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
  background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */

.panel {
  padding: 0 18px;
  background-color:transparent;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.accordion:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color:#f2f2f2;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: '\2212';
  font-size: 13px;
  color: #f2f2f2;
  float: right;
  margin-left: 5px;
}